
@{
    ViewBag.Title = "Quản lý sản phẩm";
}



<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th width="200">Ảnh mô tả</th>
                <th>Thông tin chung</th>
                <th width="200">
                    <button class="btn btn-primary btn-sm btn-tone"><i class="anticon anticon-plus"></i> Tạo sản phẩm</button>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><div class="product-thumbnail"></div></td>
                <td>
                    <div>
                        <div class="product-name"></div>
                        <div class="product-price">
                            <label>Giá</label>
                            <div></div>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="btn-group btn-group-sm">
                        <button type="button" class="btn  btn-tone btn-info">
                            <i class="anticon anticon-info-circle"></i>
                        </button>
                        <button type="button" class="btn btn-tone btn-warning">
                            <i class="anticon anticon-edit "></i>
                        </button>
                        <button type="button" class="btn  btn-tone btn-danger" data-toggle="tooltip" data-placement="top" title="Ngừng bán">
                            <i class="anticon anticon-poweroff "></i>
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

@section scripts{
    <script>
        var LoadData = function () {
            $.get
        }
    </script>
}