<div class="footer-area">
    <div class="footer-top section-space-y-axis-100 text-black" data-bg-color="#e5ddcc">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="widget-item">
                        <div class="footer-logo pb-4">
                            <a href="/home/index">
                                <img src="~/Content/assets/images/logo/logo1.png" alt="Logo">
                            </a>
                        </div>
                        <p class="short-desc mb-2">Với nhiều năm kinh nghiệm phục vụ khách hàng, 
                                                Tina Flowers hiểu mức độ quan trọng trong công việc của mình là 
                                                truyền tải đúng và đủ thông điệp của người tặng đến người nhận. 
                                                Vì thế chúng tôi cam kết 100% sự hài lòng của khách hàng 
                                                với sản phẩm của chúng tôi.
                        </p>
                        
                        <div class="payment-method">
                            <a href="javascript:void(0)">
                                <img src="~/Content/assets/images/payment/payment.png" alt="Payment Method">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 pt-10 pt-lg-0">
                    <div class="widget-item">
                        <h3 class="widget-title mb-5">Chăm sóc khách hàng</h3>
                        <ul class="widget-list-item">
                            
                            <li>
                                <a href="/home/camket">Cam kết hài lòng 100%</a>
                            </li>
                            <li>
                                <a href="/home/huongdanthanhtoan">Hướng dẫn thanh toán</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 pt-10 pt-lg-0">
                    <div class="widget-item">
                        <h3 class="widget-title mb-5">Thông tin</h3>
                        <div class="widget-contact-info pb-6">
                            <ul>
                                <li>
                                    <i class="pe-7s-map-marker"></i>
                                    Số 9, Ngõ 214, Nguyễn Xiển, Thanh Xuân
                                </li>
                                <li>
                                    <i class="pe-7s-mail"></i>
                                    <a href="mailto://phanh2412@gmail.com">phanh2412@gmail.com</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 pt-10 pt-lg-0">
                    <div class="widget-item">

                        <p>
                            Tổng đài tư vấn bán hàng (7:30 – 22:00) hằng ngày<br>
                            Giải quyết khiếu nại từ (9:00 – 17:00) hằng ngày<br>
                            Điện thoại : 0976.860.812<br>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom py-3" data-bg-color="#bac34e">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="copyright">
                        <span class="copyright-text text-white">© 2022 Tina Flowers made with <i class="fa fa-heart text-danger"></i> by  <a href="https://www.facebook.com/phanh24122001/" target="_blank">Phương Anh Nguyễn</a> </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
