
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Enlink - Admin Dashboard Template</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/Content/AdminAssets/images/logo/favicon.png">

    <!-- page css -->
    <!-- Core css -->
    <link href="~/Content/AdminAssets/css/app.min.css" rel="stylesheet">

</head>

<body>
    <div class="app">
        <div class="container-fluid p-h-0 p-v-20 bg full-height d-flex" style="background-image: url('/Content/AdminAssets/images/others/login-3.png')">
            <div class="d-flex flex-column justify-content-between w-100">
                <div class="container d-flex h-100">
                    <div class="row align-items-center w-100">
                        <div class="col-md-7 col-lg-5 m-h-auto">
                            <div class="card shadow-lg">
                                <div class="card-body">
                                    <div class="d-flex align-items-center justify-content-between m-b-30">
                                        <img class="img-fluid" alt="" src="~/Content/AdminAssets/images/logo/logo.png">
                                        <h2 class="m-b-0">Sign In</h2>
                                    </div>
                                    <div>
                                        <div class="form-group">
                                            <label class="font-weight-semibold" for="userName">Tài khoản:</label>
                                            <div class="input-affix">
                                                <i class="prefix-icon anticon anticon-user"></i>
                                                <input type="text" class="form-control" id="userName" placeholder="Số điện thoại hoặc Email">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="font-weight-semibold" for="password">Mật khẩu:</label>
                                            <div class="input-affix m-b-10">
                                                <i class="prefix-icon anticon anticon-lock"></i>
                                                <input type="password" class="form-control" id="password" placeholder="Mật khẩu">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="d-flex align-items-center justify-content-between">
                                                <span class="font-size-13 text-muted">

                                                </span>
                                                <button onclick="Login();" class="btn btn-primary">Đăng nhập</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <script src="/Content/jquery-3.6.0.min.js"></script>
    <!-- Core Vendors JS -->
    <script src="/Content/AdminAssets/js/vendors.min.js"></script>
    <script src="/Scripts/helper.js"></script>
    <!-- page js -->
    <!-- Core JS -->
    <script src="/Content/AdminAssets/js/app.min.js"></script>
    <script>
        var Login = async function () {
            let model = {
                taiKhoan: $('#userName').val(),
                matKhau: $('#password').val()
            };

            if (GetObjectProperty(model, 'taiKhoan') === '' || GetObjectProperty(model, 'matKhau') === '') { alert('Tài khoản hoặc mật khẩu không được để trống.'); return; }
            $.post('/admin/login/loginpost', model, function (rs) {
                if (rs === null || rs === '' || typeof rs === 'undefined') return;
                if (GetObjectProperty(rs, 'status') === '') return;
                if (GetObjectProperty(rs, 'status') === Enum.ResponseStatus.ERROR) { if (GetObjectProperty(rs, 'message') !== '') alert(GetObjectProperty(rs, 'message')); return; }
                if (GetObjectProperty(rs, 'status') === Enum.ResponseStatus.SUCCESS) {
                    window.location.href = '/admin/home/index';
                }
            });

        }
    </script>
</body>

</html>
