body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}


#pagination {
}

    #pagination > ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        padding: 0;
        margin: 0;
    }

        #pagination > ul > li {
            padding-right: 5px;
        }

            #pagination > ul > li.active > button {
                background-color: #3f87f5 !important;
                border-color: #3f87f5;
                color: #fff;
            }  