            <div class="side-nav">
                <div class="side-nav-inner">
                    <ul class="side-nav-menu scrollable">
                        <li class="nav-item">
                            <a class="dropdown-toggle" href="/admin/home">
                                <span class="icon-holder">
                                    <i class="anticon anticon-dashboard"></i>
                                </span>
                                <span class="title">Tổng quan</span>
                                <span class="arrow">
                                    <i class="arrow-icon"></i>
                                </span>
                            </a>
                            
                        </li>
                        <li class="nav-item">
                            <a class="dropdown-toggle" href="/admin/manageorder">
                                <span class="icon-holder">
                                    <i class="anticon anticon-appstore"></i>
                                </span>
                                <span class="title">Quản lý đơn hàng</span>
                                <span class="arrow">
                                    <i class="arrow-icon"></i>
                                </span>
                            </a>
                            
                        </li>
                        <li class="nav-item">
                            <a class="dropdown-toggle" href="/admin/manageproduct">
                                <span class="icon-holder">
                                    <i class="anticon anticon-build"></i>
                                </span>
                                <span class="title">Quản lý sản phẩm</span>
                                <span class="arrow">
                                    <i class="arrow-icon"></i>
                                </span>
                            </a>
                        </li>    
                        
                    </ul>
                </div>
            </div>
