
@{
    ViewBag.Title = "TỔNG QUAN";
    int TotalUser = (int)ViewBag.TotalUser;
    int TotalDoneOrder = (int)ViewBag.TotalDoneOrder;
    int TotalPendingOrder = (int)ViewBag.TotalPendingOrder;

    int TotalCustomerCancelOrder = (int)ViewBag.TotalCustomerCancelOrder;
    int TotalShopCancelOrder = (int)ViewBag.TotalShopCancelOrder;

}

<div class="row">
    <div class="col-md-6 col-lg-4">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <p class="m-b-0">Tổng số người dùng</p>
                        <h2 class="m-b-0">
                            <span>@TotalUser</span>
                        </h2>
                    </div>
                    <div class="avatar avatar-icon avatar-lg avatar-blue">
                        <i class="anticon anticon-team"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-4">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <p class="m-b-0">Tổng số đơn hàng đã hoàn thành</p>
                        <h2 class="m-b-0">
                            <span>@TotalDoneOrder</span>
                        </h2>
                    </div>
                    <div class="avatar avatar-icon avatar-lg avatar-green">
                        <i class="anticon anticon-file-done"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-4">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <p class="m-b-0">Đơn đang chờ xác nhận</p>
                        <h2 class="m-b-0">
                            <span>@TotalPendingOrder</span>
                        </h2>
                    </div>
                    <div class="avatar avatar-icon avatar-lg avatar-orange">
                        <i class="anticon anticon-exception"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-lg-4">
        <div class="card">
            <div class="card-body">
                <h5>Đơn đặt hàng theo trạng thái</h5>
                <div class="m-v-45 text-center" style="height: 220px">
                    <canvas class="chart" id="order-status-chart"></canvas>
                </div>

            </div>
        </div>
    </div>
    <div class="col-lg-8">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                    <h5>Đơn đặt hàng gần đây</h5>
                    <div>
                        <a href="/admin/manageorder/" class="btn btn-sm btn-default">Xem thêm</a>
                    </div>
                </div>
                <div class="m-t-30">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th style="width:100px;">Mã đơn</th>
                                    <th>Họ và tên khách</th>
                                    <th style="width:150px;">Ngày đặt</th>
                                    <th style="width:150px;">Tổng tiền</th>
                                    <th style="width:150px;">Trạng thái</th>
                                </tr>
                            </thead>
                            <tbody id="list-order-newest">
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{

    <script src="/Content/AdminAssets/vendors/chartjs/Chart.min.js"></script>
    <script>
        const orderStatusCtx = document.getElementById('order-status-chart').getContext('2d');
        const orderStatusChart = new Chart(orderStatusCtx, {
            type: 'doughnut',
            data: {
                labels: [
                    'Khách hủy',
                    'Cửa hàng hủy',
                    'Đã hoàn thành'
                ],
                datasets: [{
                    label: 'Order Status Chart',
                    data: [@TotalCustomerCancelOrder, @TotalShopCancelOrder, @TotalDoneOrder],
                    backgroundColor: [
                        'rgb(255, 99, 132)',
                        'rgb(54, 162, 235)',
                        'rgb(255, 205, 86)'
                    ],
                    hoverOffset: 4
                }]
            }
        });

        $.get('/admin/home/getlistordernewest', function (rs) {

            if (rs === null || rs === '' || typeof rs === 'undefined') return;
            if (GetObjectProperty(rs, 'status') === Enum.ResponseStatus.SUCCESS) {
                if (rs.data.length > 0) {
                    $('#list-order-newest').html('');
                    for (let indexOrder = 0; indexOrder < rs.data.length; indexOrder++) {
                        let item = rs.data[indexOrder];
                        item.NgayTao = item.NgayTao.replace('/Date(', '').replace(')/', '');
                        const orderDate = new Date(parseInt(item.NgayTao));
                        item.NgayTao = DateStringFormat({ stringDate: orderDate, newFormat: 'dd/mm/yyyy' });
                        $('#list-order-newest').append(`<tr>
<td>${item.DonDatHangId}</td>
<td><div class="d-flex align-items-center"><div class="d-flex align-items-center"><h6 class="m-l-10 m-b-0">${item.HoVaTen}</h6></div></div></td>
<td>${item.NgayTao}</td>
<td>${NumberFormat(item.TongTien)}</td>
<td><div class="d-flex align-items-center"><span class="badge badge-success badge-dot m-r-10"></span><span>${Enum.OrderStatus[item.TrangThai]}</span></div></td>
</tr>`);

                    }
                }
            }
        });

    </script>
}