
@{
    ViewBag.Title = "CamKet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main id="main" class="" style="margin: 100px;">
    <div id="content" class="content-area page-wrapper" role="main">
        <div class="row row-main">
            <div class="large-12 col">
                <div class="col-inner">
                    <h2><strong><span style="color: #ed1c24;">Tại sao bạn lựa chọn hoa sáp tại Tina Flowers</span>?</strong></h2>
                    <ul>
                        <li><h3>Cam kết: &nbsp;Giá tốt nhất, chất lượng tốt&nbsp;nhất.</h3><p>Tina Flowers luôn cam kết đặt chất lượng hoa lên hàng đầu giao cho khách. Các mẫu hoa luôn được cắm đủ số lượng và giống kiểu dáng trên website nhất có thể.</p></li>
                        <li><h3>Hơn 10.000 &nbsp;hoa sáp&nbsp;được khách hàng lựa chọn</h3><p>Với hơn 10.000 hoa sáp được được khách hàng lựa chọn tại Tina Flowers là một sự khởi đầu cho sự tin tưởng tuyệt vời.</p></li>
                        <li><h3>Trở thành đơn vị phân phối hoa sáp số&nbsp;1 tại Việt Nam</h3><p>Với sự đầu tư nghiêm túc, chúng tôi tập trung nâng cao&nbsp;chất lượng mẫu mã sản phẩm ngày một tốt hơn và đa dạng hơn&nbsp;trong nỗ lực trở thành đơn vị phân phối hoa sáp&nbsp;số 1 tại Việt Nam.</p></li>
                        <li><h3>Cam kết 100% hài lòng</h3><p class="desc">Với nhiều năm kinh nghiệm phục vụ khách hàng, chúng tôi hiểu mức độ quan trọng trong công việc của mình là truyền tải đúng và đủ thông điệp của người tặng đến người nhận. Vì thế chúng tôi cam kết 100% sự hài lòng của khách hàng với sản&nbsp;phẩm&nbsp;của chúng tôi.</p></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</main>

