
@{
    ViewBag.Title = "Thông tin liên hệ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Begin Main Content Area -->
<main class="main-content">
    <div class="breadcrumb-area breadcrumb-height" style="background-image: url('/Content/assets/images/banner/bg2.jpg')">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-lg-12">
                    <div class="breadcrumb-item">
                        <h2 class="breadcrumb-heading">Liên hệ</h2>
                        <ul>
                            <li>
                                <a href="/home/index">Trang chủ<i class="pe-7s-angle-right"></i></a>
                            </li>
                            <li>Liên hệ</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Begin Shipping Area -->
    <div class="shipping-area section-space-y-axis-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="shipping-item">
                        <div class="shipping-img">
                            <img src="~/Content/assets/images/shipping/icon/plane.png" alt="Shipping Icon">
                        </div>
                        <div class="shipping-content">
                            <h5 class="title">Miễn phí vận chuyển</h5>
                            <p class="short-desc mb-0">Ưu đãi giao hàng tận nhà miễn phí</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 pt-6 pt-md-0">
                    <div class="shipping-item">
                        <div class="shipping-img">
                            <img src="~/Content/assets/images/shipping/icon/earphones.png" alt="Shipping Icon">
                        </div>
                        <div class="shipping-content">
                            <h5 class="title">Hỗ trợ trực tuyến</h5>
                            <p class="short-desc mb-0">Được hỗ trợ trực tuyến 24/7</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 pt-6 pt-lg-0">
                    <div class="shipping-item">
                        <div class="shipping-img">
                            <img src="~/Content/assets/images/shipping/icon/shield.png" alt="Shipping Icon">
                        </div>
                        <div class="shipping-content">
                            <h5 class="title">Thanh toán an toàn</h5>
                            <p class="short-desc mb-0">Hệ thống thanh toán hoàn toàn an toàns</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Shipping Area End Here -->

    <div class="contact-with-map" style="margin-bottom: 200px;">
        <div class="contact-map">
            <iframe class="contact-map-size" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d519.0595192749216!2d105.80572614367817!3d20.987074778845795!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135acea9f46f0d5%3A0xb1f13acfae3ded31!2zOSBOZy4gMjE0IE5ndXnhu4VuIFhp4buDbiwgSOG6oSDEkMOsbmgsIFRoYW5oIFh1w6JuLCBIw6AgTuG7mWksIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1652241369278!5m2!1svi!2s" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        
    </div>
</main>
<!-- Main Content Area End Here -->
