
@{
    ViewBag.Title = "Index";
}
<!-- Begin Slider Area -->
<div class="slider-area">

    <div class="swiper-container main-slider swiper-arrow with-bg_white">
        <div class="swiper-wrapper">
            <div class="swiper-slide animation-style-01">
                <div class="slide-inner bg-height" style="background-image: url('/Content/assets/images/banner/bg2.jpg')">
                    <div class="parallax-img-wrap">
                        <div class="chilly">
                            <div class="scene fill">
                                <div class="expand-width" data-depth="0.2">
                                    <img src="~/Content/assets/images/banner/anh1_1.jpg" alt="Inner Image">
                                </div>
                            </div>
                        </div>
                        <div class="avocado">
                            <div class="scene fill">
                                <div class="expand-width" data-depth="0.5">
                                    <img src="~/Content/assets/images/banner/1_1.jpg" alt="Inner Image">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="parallax-with-content">
                            <div class="slide-content">
                                <span class="sub-title mb-3" style="color: olive;">Tina Flowers</span>
                                <br />
                                <br />
                                <br />
                                <h2 class="title mb-9" style="color: lightcoral;">Giảm 30%</h2>

                            </div>
                            <div class="parallax-img-wrap">
                                <div class="tomatoes">
                                    <div class="scene fill">
                                        <div class="expand-width" data-depth="0.5">
                                            <img src="~/Content/assets/images/banner/banner1_1.jpg" alt="Inner Image">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide animation-style-01">
                <div class="slide-inner bg-height" style="background-image: url('/Content/assets/images/banner/bg2.jpg')">
                    <div class="parallax-img-wrap">
                        <div class="chilly">
                            <div class="scene fill">
                                <div class="expand-width" data-depth="0.2">
                                    <img src="~/Content/assets/images/banner/anh1_1.jpg" alt="Inner Image">
                                </div>
                            </div>
                        </div>
                        <div class="avocado">
                            <div class="scene fill">
                                <div class="expand-width" data-depth="0.5">
                                    <img src="~/Content/assets/images/banner/1_1.jpg" alt="Inner Image">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="parallax-with-content">
                            <div class="slide-content">
                                <span class="sub-title mb-3" style="color: olive;"Tina Flowers</span>
                                <br />
                                <br />
                                <br />
                                <h2 class="title mb-9" style="color: lightcoral;">Giảm 30%</h2>

                            </div>
                            <div class="parallax-img-wrap">
                                <div class="tomatoes">
                                    <div class="scene fill">
                                        <div class="expand-width" data-depth="0.5">
                                            <img src="~/Content/assets/images/banner/banner3_1.jpg" alt="Inner Image">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination with-bg d-md-none"></div>

        <!-- Add Arrows -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>

</div>
<!-- Slider Area End Here -->
<!-- Begin Shipping Area -->
<div class="shipping-area section-space-top-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="shipping-item">
                    <div class="shipping-img">
                        <img src="~/Content/assets/images/shipping/icon/plane.png" alt="Shipping Icon">
                    </div>
                    <div class="shipping-content">
                        <h5 class="title">Miễn phí vận chuyển</h5>
                        <p class="short-desc mb-0">Ưu đãi giao hàng tận nhà miễn phí</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 pt-6 pt-md-0">
                <div class="shipping-item">
                    <div class="shipping-img">
                        <img src="~/Content/assets/images/shipping/icon/earphones.png" alt="Shipping Icon">
                    </div>
                    <div class="shipping-content">
                        <h5 class="title">Hỗ trợ trực tuyến</h5>
                        <p class="short-desc mb-0">Được hỗ trợ trực tuyến 24/7</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 pt-6 pt-lg-0">
                <div class="shipping-item">
                    <div class="shipping-img">
                        <img src="~/Content/assets/images/shipping/icon/shield.png" alt="Shipping Icon">
                    </div>
                    <div class="shipping-content">
                        <h5 class="title">Thanh toán an toàn</h5>
                        <p class="short-desc mb-0">Hệ thống thanh toán hoàn toàn an toàn</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Shipping Area End Here -->
@*@Html.Partial("SanPhamTrangChu")*@
@Html.Action("RenderProduct")
